* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*responsive media queries*/
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  
    /*settings for header image*/
  

.header-img {
    align-items: center;
    width: 120%;
    height: 270px;
    background: url(BlogImage.png);
    background-size: 1000px;
  }

   /*settings for shimmer effect on first heading*/

  h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(217, 224, 230);
    text-align: center;

        font-family: "Lato";
        font-weight: 300;
        font-size: 2em;
        margin: 0 auto;
        padding: 0 140px;
        display: inline;
        margin-bottom: 0;
    
        text-align: left;
        color: rgba(5, 3, 3, 0.1);
        background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
        background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
        background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
        -webkit-background-size: 125px 100%;
        -moz-background-size: 125px 100%;
        background-size: 125px 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-animation-name: shimmer;
        -moz-animation-name: shimmer;
        animation-name: shimmer;
        -webkit-animation-duration: 4s;
        -moz-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-color: #222;
      }
      @-moz-keyframes shimmer {
        0% {
          background-position: top left;
        }
        100% {
          background-position: top right;
        }
      }
      @-webkit-keyframes shimmer {
        0% {
          background-position: top left;
        }
        100% {
          background-position: top right;
        }
      }
      @-o-keyframes shimmer {
        0% {
          background-position: top left;
        }
        100% {
          background-position: top right;
        }
      }
      @keyframes shimmer {
        0% {
          background-position: top left;
        }
        100% {
          background-position: top right;
        }
}

/* colour setting for second heading*/

h2{
    color: #ccc;
}

/*setting for main body and background*/

body {
    font-family: sans-serif;
    font-size: 16px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/217/210/original/binary-code-background-vector.jpg");
    background-size: 1300px;


    width:  820px;
    height: 1200px;
    background-color: rgba(165, 166, 182, 0.5); /* Tint color */
    background-blend-mode: multiply;
  

    
    
  }
  /*flex settings for navbar*/
  ul{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

  }
  a:hover {
    color: red;
  }
  nav {
    background: rgb(8, 8, 8);
    padding: 0 15px;
    text-decoration: none;
    
   
    

}
.menu {
    height: 90%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

h3 {
    font-size: 25px;
    color: #ccc;
    background-image: url(Firstblog1.png);
    background-repeat: no-repeat;
    width: 100%;
    object-fit: scale-down;
    background-position: left top;
    padding-top:68px
    
      
}

p {
      color: #ccc;
      margin-top: 1em ;
      margin-bottom: 1em ;
  }

h4 {
    font-size: 25px;
    color: #ccc;
    background-image: url(Firstblog3.png);
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-position: left top;
    padding-top:68px
      
}

h5 {
    font-size: 25px;
    color: #ccc;
    background-image: url(Firstblog5.png);
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-position: left top;
    padding-top:68px
      
}

h6 {

    font-size: 25px;
    color: #ccc;
    background-image: url(Firstblog6.png);
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-position: left top;
    padding-top:68px
      
}
a {
    color:white;
    text-decoration: none;

}
.footer {

    margin-top: 30em ;
    margin-bottom: 30em ;

}
.item
{list-style: none;

}

.logo {
    font-size: 30px;
    padding: 8px 10x 8px 0;

}

.item {
    padding: 10px;
}
/*mobile menu*/


.item li a {
  display:block;
  padding: 15px 5px;

}
.item li.subitem a {
  padding:15px;

}

.toggle {
  order: 1;
  font-size: 20px;
}

.item.button {
  order: 2;

}

}