@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


.header-img {
    align-items: center;
    width: 120%;
    height: 270px;
    background: url(Android\ Jones.png);
    background-size: 1000px;
  }


h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(217, 224, 230);
    text-align: center;

        font-family: "Lato";
        font-weight: 300;
        font-size: 2.8em;
        margin: 0 auto;
        padding: 0 140px;
        display: inline;
        margin-bottom: 0;
    
        text-align: center;
        color: rgba(255,255,255,0.1);
        background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
        background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
        background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
        -webkit-background-size: 125px 100%;
        -moz-background-size: 125px 100%;
        background-size: 125px 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-animation-name: shimmer;
        -moz-animation-name: shimmer;
        animation-name: shimmer;
        -webkit-animation-duration: 4s;
        -moz-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-color: #222;
      }
      @-moz-keyframes shimmer {
        0% {
          background-position: top left;
        }
        100% {
          background-position: top right;
        }
      }
      @-webkit-keyframes shimmer {
        0% {
          background-position: top left;
        }
        100% {
          background-position: top right;
        }
      }
      @-o-keyframes shimmer {
        0% {
          background-position: top left;
        }
        100% {
          background-position: top right;
        }
      }
      @keyframes shimmer {
        0% {
          background-position: top left;
        }
        100% {
          background-position: top right;
        }
}
h2
{
    text-align: center;
    text-indent: 0ch;
    color: rgb(223, 138, 27);

}
body
{
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/217/210/original/binary-code-background-vector.jpg");
    background-size: 1300px;


    width:  820px;
    height: 1200px;
    background-color: rgba(192, 134, 178, 0.5); /* Tint color */
    background-blend-mode: multiply;
  

    
    
  }
  p 
  {
      color: aliceblue;
  }
  nav a
  { 
      
      
      color: rgb(132, 180, 223);
      text-decoration-color: aliceblue;
      left: 0px;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: large;
      padding: 10px;
      flex-wrap: wrap;
      
    
  }
  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: large;
  }
